<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating a Poll</title>
</head>
<body>
    <h3>Create a new Poll</h3>
    <form action=" {{ url_for('create_poll') }}" method="POST">

        <label for="poll">
            Poll Text:
            <input type="text" name="poll" placeholder="Pole text">
        </label>

        <label for="option1">
            Option1:
            <input type="text" name="option1" placeholder="Option1">
        </label>

        <label for="option2">
            Option2:
            <input type="text" name="option2" placeholder="Option2">
        </label>

        <label for="option3">
            Option3:
            <input type="text" name="option3" placeholder="Option3">
        </label>

        <input type="submit" value="Create Poll">

    </form>
    
</body>
</html>
